body {
	font-family: 'Rock Salt', cursive;
}
.topPic {
	border-bottom: 5px solid black;
	padding: 0;
}
.hide {
	display:hidden;
}
.fixBorder {
	border: 10px solid black;
	height: 250px;
	margin:25px;
}
.mainSection {
	margin-left: auto; 
    margin-right: auto;
    text-align: center;
    clear:both;
}
.headerGood {
	width:100%;
	height: auto

}
.choices {
	font-size: 18px;
	margin-top: 10px;
	text-align: center;
	width: 100px;
	height: 35px;
	border:2px solid transparent;
}
.choices:hover {
	background-color: lightgray;
	border:2px solid black;
}
.boxCreate {
	border: 2px solid black;
	height: 150px;
	overflow: scroll;
	scroll-snap-point: end; 
}
.moveDown {
	margin-top: 10px;
}
#nameSpotRight {
	white-space: nowrap;
}
#nameSpotLeft {
	white-space: nowrap;
}
.headSize {
	font-size: 28px;
}
.slightlyBigger {
	font-size: 18px;
}
.yourTurn {
	border:10px solid yellow;
	box-shadow: 12px 12px;
}
#disconnectOne {
	text-align: center;
}
